:root {
  --tableBackgroundColour: #ffffff;
  --tableRowSelectedColour: #bed4f7;
}

table {
  border-collapse:collapse;
  border-spacing:0;
  text-align: center;
}

td {
  font-family:Arial, sans-serif;
  font-size:14px;
  padding:2px 5px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
  border-color:black;
  width: 3em;
}

td > input {
  text-align: center;
  width: 3em;
}

select {
  margin-bottom: 1em;
}

.label {
  background-color: #bde9ba;
}

.playerPanel, .monsterPanel {
  border: 1px solid black;
  padding: 5px;
}

.participant{
  border-style:solid;
  border-width:1px;
  border-color: black;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 5px;
}

.currentPlayerColour{
  background-color: #a2ea8f;
 }
.notCurrentPlayerColour{
 background-color: lightgrey;
}

footer{
  height: 2em;
}

.participantTopBox{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}

.playerDetails{
  border-style:solid;
  border-width:1px;
  border-color: green;
  padding: 5px;
}

.monsterDetails {
  border-left: 6px solid green;
  background-color: lightgreen;
  padding: 5px;
  opacity: 50%;
}

.monsterActions {
  border-left: 6px solid blue;
  background-color: lightblue;
  padding: 5px;
}

.monsterReactions{
  border-left: 6px solid red;
  background-color: pink;
  padding: 5px;
}

.monsterSpecialAbilities{
  border-left: 6px solid red;
  background-color: pink;
  padding: 5px;
}

.monsterLegendaryActions{
  border-left: 6px solid yellow;
  background-color: #FFF381;
  padding: 5px;
}

abbr {
  text-decoration: none;
}

.singleAttack{
  display: flex;
  justify-content: space-between;
}

.boxTitles {
  font-weight: bold;
  text-decoration: underline;
}

.fas:hover{
  cursor: pointer;
}

.fas{
  color: grey;
}

.conditionSymbols{
  float: right;
}

.activeColour{
    color: red;
 }

p{
  margin-top: 5px;
  margin-bottom: 5px;
}


.navbar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  display: none;
}

.navbar div {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
}

.navbar div:hover {
  background-color: #ddd;
  color: black;
}

.navbar div {
  height: 1em;
}




pre {
  outline: 1px
  solid #ccc;
  padding: 5px;
  margin: 5px;
  white-space: pre-wrap;
  word-break: keep-all;
}
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }
